body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
  font-size: 56px;
}
h3 {
  font-size: 20px;
}

.navigation {
  position: relative;
  height: 60px;
  max-width: 1100px;
  margin: auto;
}

#n-primary {
  position: absolute;
  left: 0px;
  bottom: 15px;
  max-width: 865px;
  display: inline-block;

}

#n-primary li {
  display: inline-block;
  text-align: left;
  margin: 0;
  margin-right: 33px;
  font-size: 14pt;
  line-height: 33px;
}

.nav-highlight {
  color: #4a90e2;
}

#search {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 15px;
}

#search input {
  border-radius: 15px;
  text-indent: 40px;
  border-width: thin;
  border-style: solid;
  width: 225px;
  height: 30px;
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-position: 17px;
}

a{
  color:#000;
  text-decoration: none;
}
#content{
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 130px;
}

.banner {
  width: 100%;
  height: 300px;
  background-position: 0px 40%;
  text-align: center;
  color: white;
  background-image: url("../assets/community-members-background.jpg");
  background-color: rgba(2,2,2,0.5);
  background-blend-mode: darken;
}

.banner h1 {
  font-weight: 300;
  font-size: 55pt;
  position: relative;
  top: 75px;
  margin: 0;
}

.banner p {
  font-size: 33pt;
  position: relative;
  top: 5px;
}

#content h2 {
  text-align: center;
  font-weight: 300;
  font-size: 41pt;
}

.clients {
  margin: auto;
  max-width: 1010px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client {
  display: inline-block;
  width: 20%;
}

.client img {
  border-radius: 75px;
  display: block;
  margin: auto;
}

.client h4 {
  font-size: 20px;
  /*font-weight: 300;*/
  text-align: center;
  margin-bottom: 0px;
  color: #020202;
}

.client p {
  margin-top: 2px;
  font-size: 13px;
  text-align: center;
  color: #666666;
}

.btn-load-more {
  display: block;
  box-sizing: border-box;
  margin: auto;
  background-color: #4a90e2;
  width: 135px;
  height: 38px;
  color: white;
  text-align: center;
  border-radius: 3px;
  font-size: 14pt;
  line-height: 38px;
  margin-top: 65px;
  margin-bottom: 65px;
}


/*Both the logo and copyright will remain at either corner of the footer.
I could make them static, but that's a minor stylistic choice.*/
.footer {
  background-color: #171717;
  color: #cccccc;
  font-size: 11pt;
  height: 175px;
}

.footer p {
  display: inline-block;
  max-width: 200px;
  margin-left: 200px;
  margin-top: 25px;
}

.footer img {
  display: inline-block;
  position: absolute;
  right: 200px;
  margin-top: 25px;

}



@media (max-width:1020px) {
  #n-primary li {
    margin-right: 10px;
  }
}

/* Your styles here ... */
